# This workflow will build and push a new build file to sandbox server

name: CI - Deploy Frontend - TTE to gh-pages

on:
  push:
    branches:
      - 'main'
      
jobs:

#   build_on_linux:
#     runs-on: ubuntu-latest
#     steps:
#     - uses: actions/checkout@v2
#     - uses: actions/setup-node@master
#       with:
#         node-version: 14.17
#     - name: install dependencies
#       run: npm install
#     - name: install build
#       run: npm run preelectron-pack
#     - name: publish
#       env:
#           GITHUB_TOKEN: ${{ github.token }}
#       run: npm run electron-linux

  build_on_mac:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@master
      with:
        node-version: 14.17
    - name: install dependencies
      run: npm install
    - name: install build
      run: npm run preelectron-pack
    - name: publish
      env:
          GITHUB_TOKEN: ${{ github.GITHUB_TOKEN }}
      run: npm run package-deploy
      
#   build_on_win:
#     runs-on: windows-latest
#     steps:
#     - uses: actions/checkout@v2
#     - uses: actions/setup-node@master
#       with:
#         node-version: 14.17
#     - name: install dependencies
#       run: npm install
#     - name: install build
#       run: npm run preelectron-pack
#     - name: publish
#       env:
#           GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#       run: npm run electron-win
